@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Phone demo app</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <input type="tel" id="phone">
        <span id="valid-msg" class="hide">✓ Valid</span>
        <span id="error-msg" class="hide">Invalid number</span>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="~/PhoneValidation/js/intlTelInput.js"></script>
        <script src="~/PhoneValidation/js/utils.js"></script>
        <script>
            var telInput = $("#phone"),
                  errorMsg = $("#error-msg"),
                  validMsg = $("#valid-msg");
            
            // initialise plugin
            telInput.intlTelInput();
            telInput.intlTelInput("setCountry", "gb");
            
            var reset = function () {
                telInput.removeClass("error");
                errorMsg.addClass("hide");
                validMsg.addClass("hide");
            };

            telInput.blur(function () {
                reset();
                if ($.trim(telInput.val())) {
                    if (telInput.intlTelInput("isValidNumber")) {
                        validMsg.removeClass("hide");
                    } else {
                        telInput.addClass("error");
                        errorMsg.removeClass("hide");
                    }
                }
            });

            // on keyup / change flag: reset
            telInput.on("keyup change", reset);
        </script>

    </div>
</div>
